<% if @host.empty? -%>
No host data
<% else %>
<table class="tbl" width="100%">
  <thead>
    <th>hostname</th>
    <th>ip</th>
    <th>last update</th>
    <th>uptime</th>
    <th>poll</th>
    <th>host status</th>
    <th>service status</th>
  </thead>
  <tr class="<%= @details['host_status'] %>">
    <td align="center"><a href="/host/<%= @ip %>"><%= @details['hostname'] %></a></td>
    <td align="center"><%= @ip %></td>
    <td align="center"><%= Time.parse(@details['last_update']).strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td align="right"><%= @details['uptime'] %></td>
    <td align="right"><%= @details['poll'] %></td>
    <td align="right"><%= @details['host_status'] %></td>
    <td align="right"><%= @details['service_status'] %></td>
  </tr>
</table>

<br />

<% @host['service'].each do |service| -%>
<table class="tbl" width="100%">
  <tr class="<%= service['status'] == "0" ? 'up' : 'down' %>">
    <th align="left"><%= service['name'] %></th>
    <th align="left"><%= service['status'] == '0' ? 'up' : 'down' %></th>
  </tr>

  <% service.each do |name,values| -%>
  <% if name == 'name'; next; end %>
  <% if values.class.to_s == 'Hash' %>
  <tr><td><%= name %></td><td></td></tr>
  <% values.each do |k,v| -%>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
  <% end -%>
  <% elsif values.class.to_s == 'Array' %>
  <tr><td><%= name %></td><td></td></tr>
  <% values.each do |v| -%>
  <tr>
    <td><%= values.index(v) %></td>
    <td><%= v %></td>
  </tr>
  <% end -%>
  <% else %>
  <tr>
    <td><%= name %></td>
    <td><%= label(name, values) %></td>
  <% end %>
  </tr>
  <% end -%>
</table>
<% end -%>
<% end -%>

